# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\nimab\Desktop\OsloMet-fag og semster\2.semester V20\DATA1600\Uke 3\Oblig2-Algdat\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
